<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/static/register_handler.js"></script>
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <title>Register Account</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    

    <h1 class = "header"> Register </h1>
    <div class = "userinfo">
   
        <div class="noftifaction">
        <ul>
            <% if(typeof errors != 'undefined') { %>
                <% errors.forEach(error=> { %> 
                    <li><%= error.message%></li>
                <% })%>
        <%}%> 
        </ul>    
    </div>
    
    <form action="/users/register" method="POST">
            <div style ="margin: auto;">
            <label for="User_id">User ID:</label><br>
            <input type="text" id="User_id" name="User_id" value="User ID"><br><br>
            <label for="Name">Name:</label><br>
            <input type="text" id="Name" name="Name" value="Name"><br><br><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" value="Password"><br><br><br>
            <input type="radio" id="accounttype_employee" name="accounttype" value="Employee">
             <label for="html">Employee</label>
            <input type="radio" id="accounttype_manager" name="accounttype" value="Manager">
            <label for="css">Manager</label><br>
            <div id="departments" style="display:none;">
                <label for="department">Departments</label><br>
                <select name="department" id="Department">
                    <option value="clothing">clothing</option>
                    <option value="cosmetics">cosmetics</option>
                    <option value="DIY">DIY</option>
                    <option value="furniture">furniture</option>
                    <option value="gardening">gardening</option>
                    <option value="hardware">hardware</option>
                    <option value="home appliances">home appliances</option>
                    <option value="houseware">houseware</option>
                    <option value="paint">paint</option>
                    <option value="sporting goods">sporting goods</option>
                    <option value="toiletries">toiletries</option>
                    <option value="toys">toys</option>
                  </select>
            </div>
            
            <input type="submit" value="Register" style ="margin-left: 53px;">
            <br>
            <br>
            <br>
            </div>
        </a>
    </form>
    </div>
    </div>
</body>
</html>