<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
    <title>Change Password</title>
</head>
<body>
<div>
  <a href = "\"><h1 class = "header" >Ticketsaver</h1></a>
</div>
<br><br>
<div class ="centerlogin"> <!-- Div to center every form in this page -->
<h1 class = "centretext" style = "text-align: center" >Change Password</h1> 
<br>
<form action="/changePassword" method="POST"> 
<label for="Old Password">Old Password:</label><br>
<div  style ="width: 50%; margin-left: auto;
    margin-right: auto; height: 40px;"> 
	<input id="old_password" type="password" class="form-control " name="password" placeholder="Old Password" required> <!-- Form to for user to enter their old password-->
  </div>
  
<label for=" New Password"> New Password:</label><br>
  <div    style ="width: 50%; margin-left: auto;
    margin-right: auto; height: 40px;">
    <input id="new_password" type="password" class="form-control " name="new_password" placeholder="New Password" required> <!-- Form to for user to enter their new password-->
  </div>
  
  <label  for="Confirm Password">Confirm Password:</label><br>
  <div   style ="width: 50%; margin-left: auto;
    margin-right: auto; height: 40px;">
    <input id="passwordconfirmed" type="password" class="form-control " name="passwordconfirmed" placeholder="Confirm Password" required> <!-- Form to for to confirm their new password-->
  </div>
  <div id="msg" style = "text-align:center;" ></div>
  <br><br>
  <button  class = "button" style = "margin:0 auto;
    display:block;" disabled='disabled' type="submit">Change Password</button> <!-- Button to confirm select -->
</form>
<br>
<% if (typeof successpswd!== 'undefined') { %>
  <h3><%= successpswd %></h3>
<% } if (typeof failpswd!== 'undefined'){%>
  <h3><%= failpswd %></h3>
  <% } %>
  
</div>
<script>
    $(document).ready(function(){  // Function to check if both passwords in both new_password and passwordconfirmed forms match 
        $("#passwordconfirmed").keyup(function(){
             if ($("#new_password").val() != $("#passwordconfirmed").val()) {
                 $("#msg").html("Password do not match").css("color","red");
				  $('.button').prop('disabled', true);
             }else{
                 $("#msg").html("Password matched").css("color","green");
				  $('.button').prop('disabled', false);
            }
      });
});
</script> 


</div>
</body>
</html>